<!-- Partners Section -->
<section class="section section--partners">
    <div class="section__container">
        <div class="partners">
            <div class="partners__title">Werk afgeleverd aan een groot aantal bedrijven, van klein tot groot:</div>
            <div class="partners__animation-container">
                <div class="partners__gradient partners__gradient--left"></div>
                <div class="partners__content">
                    <!-- Row 1 -->
                    <div class="partners__row partners__row--1" data-speed="1">
                        <div class="partners__item">
                            <img src="https://cdn.prod.website-files.com/641224d3d867b0d5aade1f7c/660c1a656ca1314b637fe74c_saxion-hogescholen-1-logo-png-transparent.png"
                                alt="Saxion" class="partners__logo">
                        </div>
                        <div class="partners__item">
                            <img src="https://cdn.prod.website-files.com/641224d3d867b0d5aade1f7c/666aeb36599d82f92eb9f98d_img-logo-thebrowniebox.svg"
                                alt="The Brownie Box" class="partners__logo">
                        </div>
                        <div class="partners__item">
                            <img src="https://cdn.prod.website-files.com/641224d3d867b0d5aade1f7c/67574a3638c5f28f053b28fa_kruidvat%20logo.png"
                                alt="Kruidvat" class="partners__logo">
                        </div>
                        <div class="partners__item">
                            <img src="https://cdn.prod.website-files.com/641224d3d867b0d5aade1f7c/660c1a656ca1314b637fe74c_saxion-hogescholen-1-logo-png-transparent.png"
                                alt="Saxion" class="partners__logo">
                        </div>
                    </div>

                    <!-- Row 2 -->
                    <div class="partners__row partners__row--2" data-speed="1.5">
                        <div class="partners__item">
                            <img src="https://cdn.prod.website-files.com/641224d3d867b0d5aade1f7c/66053a9672519f841ffd90be_logo-black.png"
                                alt="Degros" class="partners__logo">
                        </div>
                        <div class="partners__item">
                            <img src="https://cdn.prod.website-files.com/641224d3d867b0d5aade1f7c/675163b6a5c7cb7739147d1a_fotofabriek%20logo.png"
                                alt="Fotofabriek" class="partners__logo">
                        </div>
                        <div class="partners__item">
                            <img src="https://cdn.prod.website-files.com/641224d3d867b0d5aade1f7c/666ae4727de3c2a47cbed3f9_zon-en-scherm-knikarmscherm-logo.jpg"
                                alt="Zon en Scherm" class="partners__logo">
                        </div>
                        <div class="partners__item">
                            <img src="https://cdn.prod.website-files.com/641224d3d867b0d5aade1f7c/66053a9672519f841ffd90be_logo-black.png"
                                alt="Degros" class="partners__logo">
                        </div>
                    </div>

                    <!-- Row 3 -->
                    <div class="partners__row partners__row--3" data-speed="1">
                        <div class="partners__item">
                            <img src="https://cdn.prod.website-files.com/641224d3d867b0d5aade1f7c/65cf5aa3cec7ae1ee101f5bd_Fotocadeau_1.png"
                                alt="Fotocadeau" class="partners__logo">
                        </div>
                        <div class="partners__item">
                            <img src="https://cdn.prod.website-files.com/641224d3d867b0d5aade1f7c/666ae886da5737354571131f_logo.webp"
                                alt="Brand Logo" class="partners__logo">
                        </div>
                        <div class="partners__item">
                            <img src="https://cdn.prod.website-files.com/641224d3d867b0d5aade1f7c/6633987275e549b8a335d554_sunweb%20logo.png"
                                alt="Sunweb" class="partners__logo">
                        </div>
                        <div class="partners__item">
                            <img src="https://cdn.prod.website-files.com/641224d3d867b0d5aade1f7c/65cf5aa3cec7ae1ee101f5bd_Fotocadeau_1.png"
                                alt="Fotocadeau" class="partners__logo">
                        </div>
                    </div>

                    <!-- Row 4 -->
                    <div class="partners__row partners__row--4" data-speed="1.8">
                        <div class="partners__item">
                            <img src="https://cdn.prod.website-files.com/641224d3d867b0d5aade1f7c/6605396054aa737d07354de5_bruna.svg"
                                alt="Bruna" class="partners__logo">
                        </div>
                        <div class="partners__item">
                            <img src="https://cdn.prod.website-files.com/641224d3d867b0d5aade1f7c/675163cda5c7cb7739149344_ergowerken%20logo.png"
                                alt="Ergowerken" class="partners__logo">
                        </div>
                        <div class="partners__item">
                            <img src="https://cdn.prod.website-files.com/641224d3d867b0d5aade1f7c/661642880f076ca8360ae302_Inventum-logo-407_1.webp"
                                alt="Inventum" class="partners__logo">
                        </div>
                        <div class="partners__item">
                            <img src="https://cdn.prod.website-files.com/641224d3d867b0d5aade1f7c/6605396054aa737d07354de5_bruna.svg"
                                alt="Bruna" class="partners__logo">
                        </div>
                    </div>

                    <!-- Row 5 -->
                    <div class="partners__row partners__row--5" data-speed="1.2">
                        <div class="partners__item">
                            <img src="https://cdn.prod.website-files.com/641224d3d867b0d5aade1f7c/66053b021031a12e977ab4b4_bbqkopen-nl-coupon-codes.png"
                                alt="BBQ Kopen" class="partners__logo">
                        </div>
                        <div class="partners__item">
                            <img src="https://cdn.prod.website-files.com/641224d3d867b0d5aade1f7c/67516434dc8054cd70105c1d_sticker.nl%20logo.png"
                                alt="Sticker.nl" class="partners__logo">
                        </div>
                        <div class="partners__item">
                            <img src="https://cdn.prod.website-files.com/641224d3d867b0d5aade1f7c/667533b8d17633649605f543_tuincentrumoutlet.com%20logo%20new%20(1).png"
                                alt="Tuincentrum Outlet" class="partners__logo">
                        </div>
                        <div class="partners__item">
                            <img src="https://cdn.prod.website-files.com/641224d3d867b0d5aade1f7c/66053b021031a12e977ab4b4_bbqkopen-nl-coupon-codes.png"
                                alt="BBQ Kopen" class="partners__logo">
                        </div>
                    </div>
                </div>
                <div class="partners__gradient partners__gradient--right"></div>
            </div>
        </div>
    </div>
</section>