        <!-- Scroll Text Section -->
        <section class="section section--scroll-text">
            <div class="section__container">
                <!-- Scrolling Color Change Text -->
                <div class="hero__scroll-text">
                    <h2 class="scroll-text" id="scroll-text">
                        <span class="scroll-text__word">Ik</span>
                        <span class="scroll-text__word">denk</span>
                        <span class="scroll-text__word">verder</span>
                        <span class="scroll-text__word">met</span>
                        <span class="scroll-text__word">je</span>
                        <span class="scroll-text__word">mee</span>
                        <span class="scroll-text__word">waar</span>
                        <span class="scroll-text__word">andere</span>
                        <span class="scroll-text__word">stoppen</span>
                        <span class="scroll-text__word">bij</span>
                        <span class="scroll-text__word">het</span>
                        <span class="scroll-text__word">designen.</span>
                    </h2>
                </div>
            </div>
        </section>
